body {
    background-color: #718725;
}

.hide{
    display: none;
}

canvas{
    display: block;
    margin: 0 auto;
    width: 1620px;
    height: 910px;
    border: none;
}

@font-face {
    font-family: eight-bit-pusab;
    src: url(fonts/8-bit-pusab.ttf);
}

@font-face {
    font-family: Pixeled;
    src: url(fonts/Pixeled.ttf);
}

@font-face {
    font-family: pixel-font-2;
    src: url(fonts/pixel-font-2.ttf);
}


